:host {
  display: block;
  min-height: 100vh;
}

main {
  position: relative;
  min-height: 100vh;
  padding-top: 80px; // Compensar el header fijo

  @media (max-width: 768px) {
    padding-top: 70px;
  }
}